# Your amazing discord bot token !
# Create a bot.config file and insert your bot token below without any quotes
prefix = /sl
token = put your token here
# You can add as much user u want to be able to use the bot
user1 = USER_ID
user2 = USER_ID
user3 = USER_ID

# Make sure to enter a proper ID